<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.hi.community.dao.PostDAO">
    
    <select id="selectPostList" resultType='PostVO'>
    	select * from post
    	where po_del ='N'
    	order by po_num desc
    </select>
    <update id="updateView">
    	update post
    	set
    		po_view = po_view + 1
    	where
    		po_num = #{num}
    		and po_del = 'N'
    </update>
    <select id="selectPost" resultType='PostVO'>
    	select * from post
    	where
    		po_num = #{num}
    		and po_del = 'N'
    </select>
    <select id="selectBoardList" resultType='BoardVO'>
    	select * from board
    </select>
</mapper>