<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout.html}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<main layout:fragment="content" class="container">
		<h2>게시글 상세</h2>
		<div th:if="${post !=null}">
			<div class="mb-3">
				<label>제목: </label>
				<div th:text="${post.po_title}" class="form-control"></div>
			</div>
			<div class="input-group mb-3">
				<div class="form-control" th:text="'작성자: ' + ${post.po_me_id}">1</div>
				<div class="form-control" th:text="'조회수: ' + ${post.po_view}">2</div>
				<div class="form-control"
					th:text="'추/비추: ' + ${post.po_up} + '/' + ${post.po_down}">3</div>
			</div>
			<div class="mb-3">
				<label>내용 : </label>
				<div class="form-control" style="min-height: 300px;"
					th:text="${post.po_content}"></div>
			</div>
			<div class="mb-3" th:if="${!files.isEmpty()}">
				<label>첨부파일([[${files.size()}]])</label>
				<a th:each="file : ${files}"
				th:href="@{|/download/${file.fi_name}|}"
				th:text="${file.fi_ori_name}"
				class="form-control mb-3"
				th:download="${file.fi_ori_name}"
				></a>
			</div>
			<form
			th:action="@{/post/update/{num}(num=${post.po_num})}"
			th:if="${#authentication.name == post.po_me_id}"
			method="get">
				<button class="btn btn-outline-warning">게시글 수정</button>
			</form>
			<form
			th:action="@{/post/delete/{num}(num=${post.po_num})}"
			th:if="${#authentication.name == post.po_me_id}"
			method="post">
				<button class="btn btn-outline-danger">게시글 삭제</button>
			</form>
		</div>
		<div th:if="${post == null}">
			<h1>삭제되거나 등록되지 않은 게시글입니다.</h1>
		</div>
	</main>
</body>
</html>