<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.hi.boot.dao.CommentDAO">
	<!-- 삭제되지 않은 댓글만 가져옴, 시오오리넘 기준 내림차순 시오넘 기준 오름차순 -->
	<resultMap type="Comment" id="commentMap">
		<id property="num" 			column="co_num"/>
		<result property="content" 	column="co_content"/>
		<result property="date" 	column="co_date"/>
		<result property="id"		column="co_me_id"/>
		<result property="oriNum" 	column="co_oriNum"/>
		<result property="del" 		column="co_del"/>
		<result property="postNum" 	column="co_po_num"/>
	</resultMap>
	<select id="selectComments" resultMap = "commentMap">
		select *
		from
			comment
		where
			co_po_num = #{poNum} and
			co_del = 'N'
		order by
			co_ori_num desc,
			co_num asc
	</select>
</mapper>




